body
{
	text-align:center;
	text-transform: uppercase;
	font-weight: 900;
	color:rgba(0,0,0,0.6);
	font-size: 2em;
	letter-spacing: 8px;
	word-spacing: 8px;
	background: linear-gradient(to right , #ff00ff , #ff0000);
	font-family:  'Calisto MT' , Rockwell;
}

h3
{
	color:rgba(0,0,0,0.6);
	font: 600 0.5em  "Arial";
	letter-spacing: 0px;
	word-spacing: 2px;
	text-transform: none;
}